<app-navbar></app-navbar>
<div class="container">
  <a
    class="list-group-item list-group-item-action"
    *ngFor="let i of coursTypeSnap"
    style="text-align: center"
    [routerLink]="[i.id]"
  >
    {{ i.id }}
  </a>
  <ng-container *ngIf="appComponent.user">
    <a
      *ngIf="appComponent.user.roles.admin === true"
      class="rectanglarondi list-group-item list-group-item-action"
      style="text-align: center; background-color: red"
      (click)="openAddCoursType()"
      >Ajouter une matière</a
    >
  </ng-container>
</div>
