<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav">
        <div class="nav-content d-flex order-2 col-2">
            <img src="../../../assets/images/efrei_paris.png" alt="efrei_paris" width="150vw" height="50vh" class="d-inline-block align-text-top">
        </div>
        <div class="nav navbar-nav text-nowrap justify-content-center order-1 order-md-2 col-8">
            <form class="row">
                    <div class="col-10">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
            </form>
        </div>
        <div class="ml-auto d-flex nav-content order-3 order-md-3 col-2">
            <ul class="nav navbar-nav text-nowrap flex-row mx-md-auto order-1 order-md-2">
                <li class="m-1">
                    Home
                </li>
                <li class="m-1">
                    Matières
                </li>
                <li class="m-1">
                    Compte
                </li>
                <li class="m-1">
                    Contact
                </li>
            </ul>
        </div>
</nav>

