<<<<<<< Updated upstream
.breadcrumb_card {
    margin-top: 10px;
    background-color: rgb(73, 72, 72);
    border-radius: 5px;
    padding-left: 5px;
}

.breadcrumb_card nav ol li a{
    text-decoration: none;
    color: white;
}

.breadcrumb_card nav ol li a:hover{
    text-decoration: underline;
    color: white;
=======
.display_route {
    background-color: rgb(53, 52, 52);
    color: white;
}

#link{
    color: white;
    text-decoration: none;
}

#link:hover{
    text-decoration: underline;
>>>>>>> Stashed changes
}