<app-navbar></app-navbar>
<div class="container">
  <div id="research_content">
    <img id="efrei_icon" src="https://img.gothru.org/283/14221439525749084961/overlay/assets/20201112080228.UyutUY.png?save=optimize" alt="Efrei Paris icon">
    <div class="row">
      <div class="col-12">
        <input
          id="search-input"
          [(ngModel)]="researchService.recherche"
          class="form-control"
          type="search"
          placeholder="Rechercher"
          aria-label="Rechercher"
        />
      </div>
      <div class="col-3">

      </div>
      <div class="col-6">
        <button
          id="search-button"
          class="btn btn-outline-primary"
          type="submit"
          (click)="researchService.search()"
          [disabled]="researchService.recherche.length === 0 ? 'disabled' : null"
        >
          Rechercher
        </button>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>

  <div class="row">
    <p id="titre">Niveau d'étude</p>
  </div>
  <div class="row">
    <ng-container *ngFor="let i of promoSnap">
      <div class="divicon">
        <a
          class="rectanglarondi list-group-item list-group-item-action"
          style="text-align: center"
          [routerLink]="[i.id]"
        >
          <p *ngIf="!i.get('name')">{{ i.id }}</p>
          <p *ngIf="i.get('name')">{{ i.get("name") }}</p>
        </a>
        <ng-container *ngIf="appComponent.user">
          <i
            *ngIf="appComponent.user.roles.admin === true"
            class="icon fas fa-trash fa-xl"
            (click)="delete(i.id)"
          ></i>
          <i
            *ngIf="appComponent.user.roles.admin === true"
            class="icon fa-solid fa-pen fa-xl"
            (click)="modify(i.id)"
          ></i>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="appComponent.user">
      <a
        *ngIf="appComponent.user.roles.admin === true"
        class="rectanglarondiinverse list-group-item list-group-item-action"
        (click)="openAddPromo()"
        ><p>Add new promotion</p></a
      >
    </ng-container>
  </div>
</div>
