<div class="container">
  <div class="row">
    <img
      src="../../../assets/images/efrei_paris.png"
      class="efrei-logo mx-auto d-block"
      alt="Efrei Paris Logo"
    />
  </div>
  <div class="row">
    <p id="titre">
      Accédez aux <strong>ressouces</strong> en seulement
      <strong>quelques clics</strong>!
    </p>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div id="login_form" class="col-6">
      <h1 id="connexion">S'inscrire</h1>
      <span id="compteefrei">Veuillez utilisez votre compte Efrei Paris</span>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="m-4">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label formfield"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            aria-describedby="emailHelp"
            formControlName="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label formfield"
            >Mot de passe</label
          >
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div>
          <label for="promo">Choisir une promotion :</label>&nbsp;
          <select formControlName="promotion" name="promo" id="promo" required>
            <option value="">Aucune</option>
            <ng-container *ngFor="let promo of promos">
              <option value="{{ promo }}">{{ promo }}</option>
            </ng-container>
          </select>
        </div>
        <div class="text-center">
          <br>
          <button
            type="submit"
            id="connexionbouton"
            [disabled]="!signUpForm.valid"
          >
            S'inscrire
          </button>
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
<div style="text-align: center; font-family: Poppins;">
  <br>
  Déjà un compte ? <a routerLink="/login">Connectez-vous !</a>
</div>
<footer id="footer">
  <div class="container">
    <p>
      En cas de problèmes avec votre compte veuillez contacter la scolarité:
      scolarite@efrei.net
    </p>
    <p>©2021 Efrei Paris. All Rights Reserved.</p>
  </div>
</footer>
