<app-navbar></app-navbar>
<div class="container">
    <div class="row" id="firstline">
        <p id="titre1">Big data and machine learning</p>
    </div>

    <div class="row" id="secondline">
        <p id="titre2">Ressources</p>
    </div>

    <div class="row" id="align">
        <div class="col-4">
            <div class="card centered" style="width: 19rem; height: 25rem;">
                <img src="../../../assets/images/amphi.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Examens</h2>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card centered" style="width: 19rem; height: 25rem;">
                <img src="../../../assets/images/amphi.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Projets</h2>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card centered" style="width: 19rem; height: 25rem;">
                <img src="../../../assets/images/amphi.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h2 class="card-title">Cours  autres</h2>
                </div>
              </div>
        </div>
    </div>
</div>

