<app-navbar></app-navbar>
<div class="container">
  <app-previous-route [arrPath]="arrPath"></app-previous-route>
  <a
    class="rectanglarondi list-group-item list-group-item-action"
    *ngFor="let i of coursTypeSnap"
    style="text-align: center"
    [routerLink]="[i.id]"
  >
    <p>{{ i.id }}</p>
  </a>
  <ng-container *ngIf="appComponent.user">
    <a
      *ngIf="appComponent.user.roles.admin === true"
      class="rectanglarondiinverse list-group-item list-group-item-action"
      (click)="openAddCoursType()"
      ><p>Ajouter une matière</p></a
    >
  </ng-container>
</div>
