<app-navbar></app-navbar>
<div class="container">
  <app-previous-route [arrPath]="arrPath"></app-previous-route>
  <div class="row">
    <p id="titre">Type de Cours</p>
  </div>
  <div class="row">
    <ng-container *ngFor="let i of coursTypeSnap">
      <div class="divicon">
        <a
          class="rectanglarondi list-group-item list-group-item-action"
          style="text-align: center"
          [routerLink]="[i.id]"
        >
          <p>{{ i.get("name") }}</p>
        </a>
        <ng-container *ngIf="appComponent.user">
          <i
            *ngIf="appComponent.user.roles.admin === true"
            class="icon fas fa-trash fa-xl"
            (click)="delete(i.id, i.get('name'))"
          ></i>
          <i
            *ngIf="appComponent.user.roles.admin === true"
            class="icon fa-solid fa-pen fa-xl"
            (click)="modify(i.id, i.get('name'))"
          ></i>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="appComponent.user">
      <a
        *ngIf="appComponent.user.roles.admin === true"
        class="rectanglarondiinverse list-group-item list-group-item-action"
        (click)="openAddCoursType()"
        ><p>Ajouter un type de cours</p></a
      >
    </ng-container>
  </div>
</div>
