#titre {
    margin-top: 1em;
    text-align: center;
    color: black;
    font-size: 2em;
}

.rectanglarondi {
    transition: 0.5s;
    text-align: center;
    border: 2px solid rgb(2, 62, 138, 0.75);
    background-color: #CAF0F8;
    height: 70px;
    margin: 10px;
    font-size: 3em;
    font-weight: 100;
    position: relative;
    /* box-shadow: 5px 5px 5px black; */
}

.rectanglarondi p {
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 1px;
    right: 1px;
    color: rgb(2, 62, 138, 0.75);
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
}

.rectanglarondi .lignegauche{
    transition: 0.5s;
    left: 1em;
    padding: 0px;
    width: 10em;
    height: 0px;
    border: 0.3px solid rgb(2, 62, 138, 0.75);
}

.rectanglarondi .lignedroite{
    transition: 0.5s;
    left: 16.5em;
    padding: 0px;
    width: 10em;
    height: 0px;
    border: 0.3px solid rgb(2, 62, 138, 0.75);
}

.rectanglarondiinverse {
    transition: 0.5s;
    text-align: center;
    background-color: rgb(2, 62, 138, 0.75);
    height: 70px;
    margin: 10px;
    font-size: 3em;
    border: 5px solid rgb(2, 62, 138, 0);
    position: relative;
    cursor: pointer;
    /* box-shadow: 5px 5px 5px black; */
}

.rectanglarondiinverse p {
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 1px;
    right: 1px;
    color: #CAF0F8;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
}

.rectanglarondi:hover {
    transition: 0.5s;
    text-align: center;
    background-color: rgb(2, 62, 138, 0.75);
    height: 70px;
    margin: 10px;
    font-size: 3em;
    border: 5px solid rgb(2, 62, 138, 0);
    position: relative;
    /* box-shadow: 5px 5px 5px black; */
}

.rectanglarondi:hover p {
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 1px;
    right: 1px;
    color: #CAF0F8;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
}

.rectanglarondi:hover .lignegauche{
    transition: 0.5s;
    left: 1em;
    padding: 0px;
    width: 10em;
    height: 0px;
    border: 0.3px solid #CAF0F8;
}

.rectanglarondi:hover .lignedroite{
    transition: 0.5s;
    left: 16.5em;
    padding: 0px;
    width: 10em;
    height: 0px;
    border: 0.3px solid #CAF0F8;
}

.rectanglarondiinverse:hover {
    transition: 0.5s;
    text-align: center;
    border: 2px solid rgb(2, 62, 138, 0.75);
    background-color: #CAF0F8;
    height: 70px;
    margin: 10px;
    font-size: 3em;
    position: relative;
    cursor: pointer;
    /* box-shadow: 5px 5px 5px black; */
}

.rectanglarondiinverse:hover p {
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 1px;
    right: 1px;
    color: rgb(2, 62, 138, 0.75);
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
}