#titre {
    margin-top: 1em;
    text-align: center;
    color: white;
    font-size: 2em;
}

.rectanglarondi {
    text-align: center;
    background-color: rgb(23, 23, 92);
    border-radius: 10px;
    height: 10vh;
    margin: 10px;
    font-size: 3em;
    position: relative;
}

.rectanglarondi p {
    position: absolute;
    top: 50%;
    left: 1px;
    right: 1px;
    color: white;
    padding: 20px;
    transform: translateY(-50%);
    resize: vertical;
}