<app-navbar></app-navbar>
<p>
  Directory:
  <input
    type="file"
    webkitdirectory
    mozdirectory
    (change)="uploading($event)"
  />
</p>
<div class="container">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <td scope="col">name</td>
        <td scope="col">type</td>
        <td scope="col">description</td>
        <td scope="col">size</td>
        <td scope="col">download</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of documentsSnap" style="text-align: center">
        <td>
          {{ i.get("name") }}
        </td>
        <td>
          {{ i.get("type") }}
        </td>
        <td>
          {{ i.get("description") }}
        </td>
        <td>
          {{ displaySize(i.get("size")) }}
        </td>
        <td>
          <button></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
