<app-navbar></app-navbar>
<p>
  Directory:
  <input
    [attr.disabled]="description.length === 0 ? '' : null"
    type="file"
    webkitdirectory
    mozdirectory
    (change)="uploading($event)"
  />
</p>
<p>Description de l'upload</p>
<input [(ngModel)]="description" />
<div class="container">
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <td scope="col">name</td>
        <td scope="col">type</td>
        <td scope="col">description</td>
        <td scope="col">size</td>
        <td scope="col">download</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of documentsSnap" style="text-align: center">
        <td>
          {{ i.get("name") }}
        </td>
        <td>
          {{ i.get("type") }}
        </td>
        <td>
          {{ i.get("description") }}
        </td>
        <td>
          {{ displaySize(i.get("size")) }}
        </td>
        <td>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <button (click)="pageTokenExample(i.get('path'),i.get('path'))" *ngIf="i.get('type') === 'folder'" class="btn" class="btn"><i class="fa fa-download"></i></button>
          <button (click)="pageTokenExample(i.get('path'),i.get('path').slice(0,i.get('path').lastIndexOf('/')))" *ngIf="i.get('type') === 'file'" class="btn"><i class="fa fa-download"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
