
<div class="row">
    <div class="col-10">
        <input
            id="search-input"
            [(ngModel)]="researchService.recherche"
            class="form-control"
            type="search"
            placeholder="Rechercher"
            aria-label="Rechercher"
        />
    </div>
    <div class="col-2">
        <button
            id="search-button"
            class="btn btn-outline-primary"
            type="submit"
            (click)="search()"
            [disabled]="researchService.recherche.length === 0 ? 'disabled' : null"
        >
            Rechercher
        </button>
    </div>
</div>
