<app-navbar></app-navbar>
<circle-progress
  class="circle"
  *ngIf="percentDownload !== 0"
  [percent]="percentDownload"
  [title]="'Téléchargement'"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
<circle-progress
  class="circle"
  *ngIf="progress !== 0"
  [percent]="progress"
  [title]="'Téléchargement'"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
<div
  *ngIf="percentDownload !== 0 || progress !== 0"
  style="
    background: rgba(50, 50, 50, 0.6);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 50;
    text-align: center;
    padding-top: 5%;
  "
></div>

<div class="container">
  <app-previous-route [arrPath]="arrPath"></app-previous-route>
  <div class="row">
    <button class="btn btn-primary mt-3 mb-3" (click)="changeload()">
      <p *ngIf="load === 'upload'">Télécharger</p>
      <p *ngIf="load === 'download'">Upload</p>
    </button>
  </div>
</div>

<div class="container" *ngIf="load === 'upload'">
  <div class="row">
    <p id="hov2" style="padding-left: 0px">
      <label
        for="input1"
        class="btn btn-primary"
        [ngStyle]="
          description.length === 0 ||
          appComponent.user!.promotion.promotion !== promoName
            ? { backgroundColor: 'grey', 'border-color': 'grey' }
            : {}
        "
      >
        Upload de dossier
      </label>
      <input
        id="input1"
        [attr.disabled]="
          description.length === 0 ||
          appComponent.user!.promotion.promotion !== promoName
            ? ''
            : null
        "
        type="file"
        webkitdirectory
        mozdirectory
        style="display: none"
        (change)="uploading($event)"
      />
    </p>
    <p id="desc" *ngIf="description.length === 0">Renseigner une description</p>
  </div>
  <div class="row">
    <p id="hov" style="padding-left: 0px">
      <label
        for="file"
        class="btn btn-primary"
        [ngStyle]="
          description.length === 0 ||
          appComponent.user!.promotion.promotion !== promoName
            ? { backgroundColor: 'grey', 'border-color': 'grey' }
            : {}
        "
      >
        Upload de fichier
      </label>
      <input
        id="file"
        [attr.disabled]="
          description.length === 0 ||
          appComponent.user!.promotion.promotion !== promoName
            ? ''
            : null
        "
        type="file"
        id="file"
        style="display: none"
        (change)="handleFileInput($event)"
        multiple
      />
    </p>

    <p id="desc" *ngIf="description.length === 0">Renseigner une description</p>
    <p style="padding-left: 0px">Description de l'upload</p>
  </div>
  <div class="row">
    <textarea [(ngModel)]="description"></textarea>
  </div>
</div>
<div class="container" *ngIf="load === 'download'">
  <div class="row">
    <div class="table100 ver1 m-b-110">
      <div class="table100-head">
        <table>
          <thead>
            <tr class="row100 head">
              <th class="cell100 column1">
                Name &nbsp;
                <i
                  *ngIf="this.triName === 'asc'"
                  class="arrow up"
                  (click)="sortByName()"
                  style="cursor: pointer"
                ></i
                ><i
                  *ngIf="this.triName === 'desc'"
                  class="arrow down"
                  (click)="sortByName()"
                  style="cursor: pointer"
                ></i>
              </th>
              <th class="cell100 column2">
                Type &nbsp;
                <i
                  *ngIf="this.triType === 'asc'"
                  class="arrow up"
                  (click)="sortByType()"
                  style="cursor: pointer"
                ></i
                ><i
                  *ngIf="this.triType === 'desc'"
                  class="arrow down"
                  (click)="sortByType()"
                  style="cursor: pointer"
                ></i>
              </th>
              <th class="cell100 column3">Description</th>
              <th class="cell100 column4">Size</th>
              <th class="cell100 column5">User</th>
              <th class="cell100 column6">Download</th>
              <th class="cell100 column7">
                Like &nbsp;
                <i
                  *ngIf="this.triLike === 'asc'"
                  class="arrow up"
                  (click)="sortByLike()"
                  style="cursor: pointer"
                ></i
                ><i
                  *ngIf="this.triLike === 'desc'"
                  class="arrow down"
                  (click)="sortByLike()"
                  style="cursor: pointer"
                ></i>
              </th>
              <th class="cell100 column8">
                <ng-container *ngIf="appComponent.user">
                  <p *ngIf="appComponent.user.roles.admin === true">
                    Supprimer
                  </p>
                </ng-container>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="table100-body js-pscroll">
        <table>
          <tbody>
            <ng-container *ngFor="let i of documentsSnap">
              <tr
                class="row100 body"
                *ngIf="
                  i.get('numberLike') / i.get('numberDisslike') > 0.5 ||
                  i.get('numberDisslike') < 10 ||
                  (appComponent.user && appComponent.user.roles.admin === true)
                "
                [ngStyle]="
                  i.get('numberLike') / i.get('numberDisslike') > 0.5 ||
                  i.get('numberDisslike') < 10
                    ? {}
                    : { backgroundColor: 'rgb(201, 201, 201)' }
                "
              >
                <td class="cell100 column1">{{ i.get("name") }}</td>
                <td class="cell100 column2">{{ i.get("type") }}</td>
                <td
                  class="cell100 column3"
                  (click)="popUpDescriptionSize(i.get('description'))"
                >
                  <i class="plus radius" style="cursor: pointer"></i> &nbsp;{{
                    i.get("description")
                  }}
                </td>
                <td class="cell100 column4">
                  {{ displaySize(i.get("size")) }}
                </td>
                <td class="cell100 column5">{{ i.get("username") }}</td>
                <td class="cell100 column6">
                  <link
                    rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
                  />
                  <button
                    (click)="pageTokenExample(i.get('path'), i.get('path'))"
                    class="btn"
                  >
                    <i class="fa fa-download"></i>
                  </button>
                </td>
                <td class="cell100 column7">
                  <div>
                    {{ i.get("numberLike") }}
                    <i
                      *ngIf="
                        appComponent.user!.promotion.promotion === promoName
                      "
                      class="like fa-solid fa-thumbs-up fa-xl"
                      [ngClass]="{
                        likeSelect: i.like,
                        likeUnselect: !i.like
                      }"
                      (click)="like(i.id)"
                    ></i>
                    <i
                      *ngIf="
                        appComponent.user!.promotion.promotion !== promoName
                      "
                      class="like fa-solid fa-thumbs-up fa-xl"
                    ></i>
                  </div>
                  <br />
                  <div>
                    {{ i.get("numberDisslike") }}
                    <i
                      *ngIf="
                        appComponent.user!.promotion.promotion === promoName
                      "
                      class="disslike fa-solid fa-thumbs-down fa-xl"
                      [ngClass]="{
                        disslikeSelect: i.disslike,
                        disslikeUnselect: !i.disslike
                      }"
                      (click)="disslike(i.id)"
                    ></i>
                    <i
                      *ngIf="
                        appComponent.user!.promotion.promotion !== promoName
                      "
                      class="disslike fa-solid fa-thumbs-down fa-xl"
                    ></i>
                  </div>
                </td>
                <td class="cell100 column8">
                  <ng-container *ngIf="appComponent.user">
                    <i
                      *ngIf="appComponent.user.roles.admin === true"
                      class="icon fas fa-trash fa-xl"
                      (click)="delete(i.id, i.get('name'))"
                    ></i>
                  </ng-container>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
